<h1>Peças</h1>
<div class="form-group">
  <label for="nome" class="label">numero:</label>
  <input type="text" nbInput fullWidth id="nome" placeholder="José da Silva" [(ngModel)]="peca.numero">
</div><br/>
<div class="form-group">
  <label for="telefone" class="label">codigo_fabrica:</label>
  <input type="text" nbInput fullWidth id="telefone" placeholder="(62) 98181-8181" [(ngModel)]="peca.codigo_fabrica">
</div><br/>
<div class="form-group">
  <label for="endereco" class="label">unidade:</label>
  <input type="text" nbInput fullWidth id="endereco" placeholder="Rua 2" [(ngModel)]="peca.unidade">
</div><br/>
<div class="form-group">
  <label for="endereco" class="label">descricao:</label>
  <input type="text" nbInput fullWidth id="endereco" placeholder="Rua 2" [(ngModel)]="peca.descricao">
</div><br/>
<div class="form-group">
  <label for="endereco" class="label">altura:</label>
  <input type="text" nbInput fullWidth id="endereco" placeholder="Rua 2" [(ngModel)]="peca.altura">
</div><br/>
<div class="form-group">
  <label for="endereco" class="label">largura:</label>
  <input type="text" nbInput fullWidth id="endereco" placeholder="Rua 2" [(ngModel)]="peca.largura">
</div><br/>
<div class="form-group">
  <label for="endereco" class="label">profundidade:</label>
  <input type="text" nbInput fullWidth id="endereco" placeholder="Rua 2" [(ngModel)]="peca.profundidade">
</div><br/>
<div class="form-group">
  <label for="endereco" class="label">unidade_medida:</label>
  <input type="text" nbInput fullWidth id="endereco" placeholder="Rua 2" [(ngModel)]="peca.unidade_medida">
</div><br/>
<div class="form-group">
  <label for="endereco" class="label">volumes:</label>
  <input type="text" nbInput fullWidth id="endereco" placeholder="Rua 2" [(ngModel)]="peca.volumes">
</div><br/>
<div class="form-group">
  <label for="endereco" class="label">active:</label>
  <input type="text" nbInput fullWidth id="endereco" placeholder="Rua 2" [(ngModel)]="peca.active">
</div><br/>
<div class="form-group">
  <label for="endereco" class="label">custo:</label>
  <input type="text" nbInput fullWidth id="endereco" placeholder="Rua 2" [(ngModel)]="peca.custo">
</div><br/>
<div class="form-group">
  <label for="endereco" class="label">classificacao_custo:</label>
  <input type="text" nbInput fullWidth id="endereco" placeholder="Rua 2" [(ngModel)]="peca.classificacao_custo">
</div><br/>
<div class="form-group">
  <label for="endereco" class="label">tipo_classificacao_custo:</label>
  <input type="text" nbInput fullWidth id="endereco" placeholder="Rua 2" [(ngModel)]="peca.tipo_classificacao_custo">
</div><br/>
<div class="form-group">
  <label for="endereco" class="label">id_peca_especie:</label>
  <input type="text" nbInput fullWidth id="endereco" placeholder="Rua 2" [(ngModel)]="peca.id_peca_especie">
</div><br/>
<div class="form-group">
  <label for="endereco" class="label">id_peca_material_fabricacao:</label>
  <input type="text" nbInput fullWidth id="endereco" placeholder="Rua 2" [(ngModel)]="peca.id_peca_material_fabricacao">
</div><br/>
<div class="form-group">
  <label for="endereco" class="label">id_peca_cor:</label>
  <input type="text" nbInput fullWidth id="endereco" placeholder="Rua 2" [(ngModel)]="peca.id_peca_cor">
</div><br/>
<div class="form-group">
  <label for="endereco" class="label">estoque:</label>
  <input type="text" nbInput fullWidth id="endereco" placeholder="Rua 2" [(ngModel)]="peca.estoque">
</div><br/>
<div class="form-group">
  <label for="endereco" class="label">estoqueUnico:</label>
  <input type="text" nbInput fullWidth id="endereco" placeholder="Rua 2" [(ngModel)]="peca.estoqueUnico">
</div><br/>
<div class="form-group">
  <label for="endereco" class="label">peca:</label>
  <input type="text" nbInput fullWidth id="endereco" placeholder="Rua 2" [(ngModel)]="peca.peca">
</div><br/>
<div class="form-group">
  <label for="endereco" class="label">cor:</label>
  <input type="text" nbInput fullWidth id="endereco" placeholder="Rua 2" [(ngModel)]="peca.cor">
</div><br/>
<div class="form-group">
  <label for="endereco" class="label">material:</label>
  <input type="text" nbInput fullWidth id="endereco" placeholder="Rua 2" [(ngModel)]="peca.material">
</div><br/>
<div class="form-group">
  <label for="endereco" class="label">id_fornecedor:</label>
  <input type="text" nbInput fullWidth id="endereco" placeholder="Rua 2" [(ngModel)]="peca.id_fornecedor">
</div><br/>
<div class="form-group">
  <label for="endereco" class="label">pecasCorModel:</label>
  <input type="text" nbInput fullWidth id="endereco" placeholder="Rua 2" [(ngModel)]="peca.pecasCorModel">
</div><br/>
<div class="form-group">
  <label for="endereco" class="label">material_fabricacao:</label>
  <input type="text" nbInput fullWidth id="endereco" placeholder="Rua 2" [(ngModel)]="peca.material_fabricacao">
</div><br/>
<div class="form-group">
  <label for="endereco" class="label">pecasMaterialModel:</label>
  <input type="text" nbInput fullWidth id="endereco" placeholder="Rua 2" [(ngModel)]="peca.pecasMaterialModel">
</div><br/>
<div class="form-group">
  <label for="endereco" class="label">especie:</label>
  <input type="text" nbInput fullWidth id="endereco" placeholder="Rua 2" [(ngModel)]="peca.especie">
</div><br/>
<div class="form-group">
  <label for="endereco" class="label">pecasEspecieModel:</label>
  <input type="text" nbInput fullWidth id="endereco" placeholder="Rua 2" [(ngModel)]="peca.pecasEspecieModel">
</div><br/>
<div class="form-group">
  <label for="endereco" class="label">peca_peca:</label>
  <input type="text" nbInput fullWidth id="endereco" placeholder="Rua 2" [(ngModel)]="peca.peca_peca">
</div><br/>
<div class="form-group">
  <label for="endereco" class="label">pecaPeca:</label>
  <input type="text" nbInput fullWidth id="endereco" placeholder="Rua 2" [(ngModel)]="peca.pecaPeca">
</div><br/>

<nb-checkbox [(ngModel)]="fornecedor">Fornecedor</nb-checkbox><br/>

<div class="form-group" *ngIf="fornecedor">
  <label for="horario" class="label">Horário de Entrega:</label>
  <input type="text" nbInput fullWidth id="horario" placeholder="08:00">
</div><br/>


<button (click)="salvar()" nbButton status="primary">Salvar</button>

<br/><br/>

