

<div class="logo2">
  <img src="assets/gpplogo.png" width="200" height="200" >
</div>

<div class="logo">
    <span>GPP</span>
  </div>

  <div class="frase">
    <span class="line-break">Bem vindo ao </span>
    <span class="line-break">Gerenciamento de Peças e Serviços</span>
  </div>

<div class="container">
  <h1 class="title">Login</h1>

  <form>

    <div class="form-group">
      <label for="username">RE</label>
      <input type="text" id="username" name="username" placeholder="Digite seu usuário">
    </div>

    <div class="form-group">
      <label for="password">Senha</label>
      <input type="password" id="password" name="password" placeholder="Digite sua senha">

    </div>

    <div class="checkbox">
      <label for="save-password">Salvar senha</label>
      <input type="checkbox" class="checkbox" id="save-password" name="save-password">
    </div>

    <button type="submit" class="btn">Entrar</button>
  </form>
</div>
