<h1>Peças</h1>
<div class="form-group">
  <label for="nome" class="label">id_peca:</label>
  <input type="text" nbInput fullWidth id="id_peca" placeholder="" [(ngModel)]="peca.id_peca">
</div><br/>
<div class="form-group">
  <label for="numero" class="label">numero:</label>
  <input type="text" nbInput fullWidth id="numero" placeholder="" [(ngModel)]="peca.numero">
</div><br/>
<div class="form-group">
  <label for="codigo_fabrica" class="label">codigo_fabrica:</label>
  <input type="text" nbInput fullWidth id="codigo_fabrica" placeholder="" [(ngModel)]="peca.codigo_fabrica">
</div><br/>
<div class="form-group">
  <label for="unidade" class="label">unidade:</label>
  <input type="text" nbInput fullWidth id="unidade" placeholder="" [(ngModel)]="peca.unidade">
</div><br/>
<div class="form-group">
  <label for="descricao" class="label">descricao:</label>
  <input type="text" nbInput fullWidth id="descricao" placeholder="" [(ngModel)]="peca.descricao">
</div><br/>
<div class="form-group">
  <label for="altura" class="label">altura:</label>
  <input type="text" nbInput fullWidth id="altura" placeholder="" [(ngModel)]="peca.altura">
</div><br/>
<div class="form-group">
  <label for="largura" class="label">largura:</label>
  <input type="text" nbInput fullWidth id="largura" placeholder="" [(ngModel)]="peca.largura">
</div><br/>
<div class="form-group">
  <label for="profundidade" class="label">profundidade:</label>
  <input type="text" nbInput fullWidth id="profundidade" placeholder="" [(ngModel)]="peca.profundidade">
</div><br/>
<div class="form-group">
  <label for="unidade_medida" class="label">unidade_medida:</label>
  <input type="text" nbInput fullWidth id="unidade_medida" placeholder="" [(ngModel)]="peca.unidade_medida">
</div><br/>
<div class="form-group">
  <label for="volumes" class="label">volumes:</label>
  <input type="text" nbInput fullWidth id="volumes" placeholder="" [(ngModel)]="peca.volumes">
</div><br/>
<!-- <div class="form-group">
  <label for="active" class="label">active:</label>
  <input type="text" nbInput fullWidth id="active" placeholder="" [(ngModel)]="peca.active">
</div><br/> -->

<nb-checkbox [(ngModel)]="peca.active">active</nb-checkbox><br/>

<div class="form-group">
  <label for="custo" class="label">custo:</label>
  <input type="text" nbInput fullWidth id="custo" placeholder="" [(ngModel)]="peca.custo">
</div><br/>
<div class="form-group">
  <label for="classificacao_custo" class="label">classificacao_custo:</label>
  <input type="text" nbInput fullWidth id="classificacao_custo" placeholder="" [(ngModel)]="peca.classificacao_custo">
</div><br/>
<div class="form-group">
  <label for="tipo_classificacao_custo" class="label">tipo_classificacao_custo:</label>
  <input type="text" nbInput fullWidth id="tipo_classificacao_custo" placeholder="" [(ngModel)]="peca.tipo_classificacao_custo">
</div><br/>
<div class="form-group">
  <label for="endereco" class="label">id_peca_especie:</label>
  <input type="text" nbInput fullWidth id="endereco" placeholder="" [(ngModel)]="peca.id_peca_especie">
</div><br/>
<div class="form-group">
  <label for="id_peca_material_fabricacao" class="label">id_peca_material_fabricacao:</label>
  <input type="text" nbInput fullWidth id="id_peca_material_fabricacao" placeholder="" [(ngModel)]="peca.id_peca_material_fabricacao">
</div><br/>
<div class="form-group">
  <label for="id_peca_cor" class="label">id_peca_cor:</label>
  <input type="text" nbInput fullWidth id="id_peca_cor" placeholder="" [(ngModel)]="peca.id_peca_cor">
</div><br/>
<div class="form-group">
  <label for="estoque" class="label">estoque:</label>
  <input type="text" nbInput fullWidth id="estoque" placeholder="" [(ngModel)]="peca.estoque">
</div><br/>
<div class="form-group">
  <label for="estoqueUnico" class="label">estoqueUnico:</label>
  <input type="text" nbInput fullWidth id="estoqueUnico" placeholder="" [(ngModel)]="peca.estoqueUnico">
</div><br/>
<div class="form-group">
  <label for="peca" class="label">peca:</label>
  <input type="text" nbInput fullWidth id="peca" placeholder="" [(ngModel)]="peca.peca">
</div><br/>
<div class="form-group">
  <label for="cor" class="label">cor:</label>
  <input type="text" nbInput fullWidth id="cor" placeholder="" [(ngModel)]="peca.cor">
</div><br/>
<div class="form-group">
  <label for="material" class="label">material:</label>
  <input type="text" nbInput fullWidth id="material" placeholder="" [(ngModel)]="peca.material">
</div><br/>
<div class="form-group">
  <label for="id_fornecedor" class="label">id_fornecedor:</label>
  <input type="text" nbInput fullWidth id="id_fornecedor" placeholder="" [(ngModel)]="peca.id_fornecedor">
</div><br/>
<div class="form-group">
  <label for="pecasCorModel" class="label">pecasCorModel:</label>
  <input type="text" nbInput fullWidth id="pecasCorModel" placeholder="" [(ngModel)]="peca.pecasCorModel">
</div><br/>
<div class="form-group">
  <label for="material_fabricacao" class="label">material_fabricacao:</label>
  <input type="text" nbInput fullWidth id="material_fabricacao" placeholder="" [(ngModel)]="peca.material_fabricacao">
</div><br/>
<div class="form-group">
  <label for="pecasMaterialModel" class="label">pecasMaterialModel:</label>
  <input type="text" nbInput fullWidth id="pecasMaterialModel" placeholder="" [(ngModel)]="peca.pecasMaterialModel">
</div><br/>
<div class="form-group">
  <label for="especie" class="label">especie:</label>
  <input type="text" nbInput fullWidth id="especie" placeholder="" [(ngModel)]="peca.especie">
</div><br/>
<div class="form-group">
  <label for="pecasEspecieModel" class="label">pecasEspecieModel:</label>
  <input type="text" nbInput fullWidth id="pecasEspecieModel" placeholder="" [(ngModel)]="peca.pecasEspecieModel">
</div><br/>
<div class="form-group">
  <label for="pecaPeca" class="label">pecaPeca:</label>
  <input type="text" nbInput fullWidth id="pecaPeca" placeholder="" [(ngModel)]="peca.pecaPeca">
</div><br/>



<button (click)="salvar()" nbButton status="primary">Salvar</button>

<br/><br/>

